{{ partial "header.html" .}}


    <div class="row">
        <div class="col">

            <h4>Blog Posts</h4>
            <ul>
                {{range where .Site.Pages "Dir" "blog/"}}
                    <li>
                        <small>

                        {{.Date.Format "Jan 01, 2018"}}
                        </small>
                        <strong><a href="{{.URL}}">{{.Title}}</a></strong>
                    </li>
                {{end}}
            </ul>

        </div>
    </div>

{{ partial "footer.html" .}}